<div class="well hoverwell thumbnail" [routerLink]="['/events', College_event.id]">
    <h2>{{College_event.organiser}} - {{College_event.name}}</h2>
    <div>Date: {{College_event.date}}</div>
    <div>Time: {{College_event.time}}</div>
    <div>Price: {{College_event.price}}</div>
    <div *ngIf="College_event.collegeLocation">
        Location: <span>{{College_event.collegeLocation.room}}</span>
        <span class="pad-left">{{College_event.collegeLocation.department}}</span>
    </div>
    <div *ngIf="College_event.location">
        Location: <span>{{College_event.location.address}}</span>
        <span class="pad-left">{{College_event.location.city}}</span>
    </div>
</div>