<div class="container">
  <img [src]="College_event?.imageUrl" [alt]="College_event?.name" class="event-image">

  <div class="row">
    <div class="col-md-11">
      <h2>{{College_event?.name}} </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div><strong>Date:</strong> {{College_event?.date}}</div>
      <div><strong>Time:</strong> {{College_event?.time}}</div>
      <div><strong>Price:</strong> {{College_event?.price}} rupees</div>
    </div>
    <div class="col-md-6">
      <address *ngIf="College_event.location">
        <strong>Address:</strong><br />
        {{College_event?.location?.address}}<br />
        {{College_event?.location?.city}}
      </address>
      <address *ngIf="College_event.collegeLocation">
        <strong>Address:</strong><br />
        {{College_event?.collegeLocation?.room}}<br />
        {{College_event?.collegeLocation?.department}}
      </address>
    </div>
  </div>

  <hr>
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-xs-6 col-md-2">
      <h2 style="margin:0">Sessions</h2>
    </div>

    <div class="col-xs-6 col-md-2">
      <button class="btn btn-primary" style="height: 35px;" (click)="addSession()">Add Session</button>
    </div>
  </div>

  <session-list *ngIf="!addMode" [sessions]="College_event.sessions"></session-list>
  <create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancel)="cancelAddSession()"></create-session>
</div>
